:root {
    --size: 375;

    font-optical-sizing: auto;

    @each $color, $value in $colors {
        --color-#{"" + $color}: #{$value};
    }

    @include media('>=md') {
        --size: #{breakpoint(md, $strip-unit: true)};
    }

    @include media('>=vl') {
        --size: #{breakpoint(vl, $strip-unit: true)};
    }

    @include media('>=xl') {
        --size: #{breakpoint(xl, $strip-unit: true)};
    }
}

//html {
//    --vw-ratio: 0.4;
//
//    font-size: calc((100vw / var(--size)) * (16 * var(--vw-ratio)) + 1rem * calc(1 - var(--vw-ratio)));
//}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: var(--font-family);
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
}

textarea,
select {
    color: inherit;
    font: inherit;
    line-height: inherit;
}

*:focus-visible {
    outline: 2px solid var(--theme-foreground-color, currentColor);
    outline-offset: 6px;
}
