html {
    --v-top-bar-height: #{rem(76)};
    --page-gutter: #{rem(12)};

    @include media('>=md') {
    --page-gutter: #{rem(26)};
    }
}

body {
    @include text-body-md;

    font-family: $noi;
    min-height: 100svh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

li {
    list-style: none;
}

/* prevent orphans in supported browsers */
p,
li {
    text-wrap: pretty;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
}

button {
    border: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-align: inherit;
    text-transform: inherit;

    &:disabled {
        cursor: default;
    }
}

input {
    color: inherit;
    font-size: inherit;
    line-height: inherit;

    &[type="submit"],
    &[type="reset"] {
        cursor: pointer;
    }
}

textarea,
select {
    color: inherit;
    font: inherit;
    line-height: inherit;
}

svg,
video {
    display: block;
    max-width: 100%;
    -webkit-user-drag: none;
}

img, a {
    //user-select: none;
    //-webkit-user-drag: none;
}

::selection {
    background-color: color(black);
    color: color(white);
    text-shadow: none;
}

pre {
    white-space: pre-wrap;;
}
