html {
    --v-top-bar-height: #{rem(76)};
    --page-gutter: #{rem(12)};

    @include media('>=md') {
    --page-gutter: #{rem(26)};
    }
}

body {
    min-height: 100svh;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    font-family: $mango;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    @include text-body-md;
}

/* Improved heading in supported browsers */
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/* prevent orphans in supported browsers */
p,
li {
    text-wrap: pretty;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-decoration-thickness: inherit;
    text-underline-offset: inherit;
}

::selection {
    background-color: var(black);
    color: var(white);
    text-shadow: none;
}

pre {
    white-space: pre-wrap;;
}
