@font-face {
    font-display: swap;
    font-family: InterVariable;
    font-style: normal;
    font-weight: 100 900;
    src: url('~/assets/fonts/InterVariable.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: InterVariable;
    font-style: italic;
    font-weight: 100 900;
    src: url('~/assets/fonts/InterVariable-Italic.woff2') format('woff2');
}

/* static fonts */
@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: normal;
    font-weight: 100;
    src: url("~/assets/fonts/Inter-Thin.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: Inter;
    font-style: italic;
    font-weight: 100;
    src: url("~/assets/fonts/Inter-ThinItalic.woff2") format("woff2");
}
