@font-face {
    font-display: swap;
    font-family: noi;
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;

    // use truetype first because woff files aren't variable
    src:
        url('../fonts/noigrotesk-variable.ttf') format('truetype'),
        url('../fonts/noigrotesk-variable.woff2') format('woff2'),
        url('../fonts/noigrotesk-variable.woff') format('woff');
}

@font-face {
    font-display: swap;
    font-family: mango;
    font-style: oblique 0deg 9deg;
    font-weight: 100 900;
    src:
        url('../fonts/mango-grotesque-vf.woff2') format('woff2'),
        url('../fonts/mango-grotesque-vf.ttf') format('truetype');
}
