// Defer ttf font when woff2 or woff variable not working

@font-face {
    font-display: swap;
    font-family: noi;
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    src: url('~/assets/fonts/noigrotesk-variable.ttf') format('truetype');
}

//@include font-face('noi', 'noigrotesk-variable') {
//    font-weight: 100 900;
//    font-style: oblique 0deg 10deg;
//}

@font-face {
    font-display: swap;
    font-family: mango;
    font-style: oblique 0deg 10deg;
    font-weight: 100 900;
    src: url('~/assets/fonts/mango-grotesque-variable.ttf') format('truetype');
}


