@mixin component-default-vars($vars, $base: '', $prefix: '', $default: 'm') {
    @if  map-has-key($vars, $default) {
        // if has breakpoint value
        $default: map-get($vars, $default);

        @each $key, $value in $default {
            #{$key}: var(#{list-implode(('--', $base, $prefix, $key), '-')}, $value);
        }
    } @else {
        // if is root properties
        @each $key, $value in $vars {
            #{$key}: var(#{list-implode(('--', $base, $prefix, $key), '-')}, $value);
        }
    }
}

@mixin component-vars-by-size($vars, $size, $base: '', $prefix: '') {
    @if  map-has-key($vars, $size) {
        $size-vars: map-get($vars, $size);

        @each $key, $value in $size-vars {
            #{list-implode(('--', $base, $prefix, $key), '-')}: #{$value};
        }
    }
}

@mixin default-css-vars($base-name, $vars, $prefix: '', $default: 'm') {
    @include component-default-vars($vars, $base-name, $prefix, $default);
}

@mixin css-vars-by-size($base-name, $vars, $size, $prefix: '') {
    @include component-vars-by-size($vars, $size, $base-name, $prefix);
}


/* tim */
@mixin css-var-properties($breakpoint, $properties, $prefix) {
    @each $property, $value in $properties {
        @if $breakpoint == 0 or $breakpoint == "xs" {
            #{list-implode(('--', $prefix, $property), '-')}: #{$value};
        } @else {
            @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
                #{list-implode(('--', $prefix, $property), '-')}: #{$value};
            }
        }
    }
}

@mixin css-vars-breakpoints-properties($map, $prefix) {
    @each $breakpoint, $value in $map {
        $properties: map-get($map, $breakpoint);

        @include css-var-properties($breakpoint, $properties, $prefix);
    }
}

