@mixin grid($width: null, $padding: null) {
    @include grid-gap;

    display: grid;
    width: if($width != null, $width, var(--grid-width));
    max-width: var(--grid-max-width);
    margin: 0 auto;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
}

@mixin grid-gap {
    @supports (gap: 0) {
        /* autoprefixer grid: off */
        gap: 0 var(--gutter);
    }
}

@mixin inner-grid-fullscreen {
    width: calc(100% + var(--grid-margin-inline) * 2);
    margin-left: calc(var(--grid-margin-inline) * -1);
}

@mixin fullscreen-background {
    box-shadow: 0 0 0 100vmax var(--fullscreen-background-color), inset 0 0 0 100vmax var(--fullscreen-background-color);
    clip-path: inset(0 -100vmax);
}
