@mixin grid($width: null) {
    @include container;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));
}

@mixin container($width: null) {
    @include grid-gap;

    width: if($width != null, $width, var(--grid-width));
    max-width: var(--grid-max-width);
    margin-inline: auto;
}

@mixin grid-gap {
    @supports (gap: 0) {
        /* autoprefixer grid: off */
        gap: 0 var(--gutter);
    }
}
