// use https://maketintsandshades.com for generate shade
@use "sass:map";

/* App specific */
$primitives-app: (
    primary: rgb(250 173 23),
    secondary: rgb(50 35 7),
);

/* Communs */
$primitives: (
  /* grey */
    grey-0: rgb(255 255 255),
    grey-05: rgb(255 255 255),
    grey-10: rgb(230 230 230),
    grey-20: rgb(204 204 204),
    grey-30: rgb(179 179 179),
    grey-40: rgb(153 153 153),
    grey-50: rgb(128 128 128),
    grey-60: rgb(102 102 102),
    grey-70: rgb(77 77 77),
    grey-80: rgb(51 51 51),
    grey-90: rgb(26 26 26),
    grey-100: rgb(0 0 0),
  /* black */
    black-05: rgb(1 1 1 / 5%),
    black-10: rgb(1 1 1 / 10%),
    black-20: rgb(1 1 1 / 20%),
    black-30: rgb(1 1 1 / 30%),
    black-40: rgb(1 1 1 / 40%),
    black-50: rgb(1 1 1 / 50%),
    black-60: rgb(1 1 1 / 60%),
    black-70: rgb(1 1 1 / 70%),
    black-80: rgb(1 1 1 / 80%),
    black-90: rgb(1 1 1 / 90%),
    black-100: rgb(1 1 1),
  /* white */
    white-10: rgb(255 255 255 / 10%),
    white-20: rgb(255 255 255 / 20%),
    white-30: rgb(255 255 255 / 30%),
    white-40: rgb(255 255 255 / 40%),
    white-50: rgb(255 255 255 / 50%),
    white-60: rgb(255 255 255 / 60%),
    white-70: rgb(255 255 255 / 70%),
    white-80: rgb(255 255 255 / 80%),
    white-90: rgb(255 255 255 / 90%),
    white-100: rgb(255 255 255),
);
$tokens: (
    dark: map.get($primitives, dark-100),
    black: map.get($primitives, black-100),
    light: map.get($primitives, white-100),
    white: map.get($primitives, white-100),

    primary: map.get($primitives, primary-100),
    line-primary: map.get($primitives, primary-110),
);
$colors: map.merge($primitives, $tokens);
