$margins: (
    0: rem(12),
    lg: rem(44),
) !default;

$gutters: (
    0: rem(12),
    lg: rem(24),
) !default;

$grid-widths: (
    0: calc(100% - 2 * var(--grid-margin-inline)),
) !default;

$grid-max-widths: (
    // 0: 1920px,
) !default;

$grid-columns: (
    0: 8,
    lg: 14,
) !default;

