$gutters: (
    0: rem(12),
    md: rem(42),
) !default;
$grid-widths: (
    0: calc(100% - 2 * var(--gutter)),
) !default;
$grid-max-widths: (
     0: 1920px,
) !default;
$grid-columns: (
    0: 6,
    md: 14,
) !default;

