$themes: (
    light: (
        foreground-color: color(dark),
        background-color: color(primary),
    ),
    dark: (
        foreground-color: color(primary),
        background-color: color(dark),
    )
);
$default-theme: light;
