$themes: (
    main: (
        foreground-color: color(primary),
        background-color: color(dark),
    ),
    secondary: (
        foreground-color: color(black),
        background-color: #fff,
    ),
    ternary: (
        foreground-color: color(black),
        background-color: #fff,
    ),
);
$default-theme: dark;
