// Overtitle
$overtitle-font-size-s: rem(14);
$overtitle-font-size-m: rem(16);

// Tag
$tag-font-size-s: rem(12);
$tag-font-size-m: rem(14);

// Button
$button-font-size-m: rem(14);
$button-font-size-l: rem(18);
