@use "sass:map";
@use "sass:math";

$v-button-size-vars-by-variant: () !default;
$v-button: (
        s: (
                font-size: rem(11),
                min-width: rem(18),
                height: rem(18),
                padding-inline: rem(10),
        ),
        m: (
                font-size: rem(16),
                min-width: rem(36),
                height: rem(36),
                padding-inline: rem(12),
        ),
        l: (
                font-size: rem(17),
                min-width: rem(40),
                height: rem(40),
                padding-inline: rem(14),
        ),
        xl: (
                font-size: rem(52),
                min-width: rem(42),
                height: rem(42),
                padding-inline: rem(18),
        )
);
$v-button-icon: (
        s: (
                margin-inline: rem(4),
        ),
        m: (
                margin-inline: rem(6),
        ),
);
$v-button-label: (
        xs: (
                padding-inline: rem(7)
        ),
        s: (
                padding-inline: rem(4),
        ),
        m: (
                padding-inline: rem(4),
        ),
);

// Props styles
$v-button-rounded: (
        default: (
                border-radius: 100vmax,
        ),
);
$v-button-filled: (
        default: (
                background-color: var(--theme-background-color),
        ),
);
$v-button-outlined: (
        default: (
                border-width: 1px,
                border-style: solid,
                border-color: currentColor
        ),
);

// All button and variant styles
$v-button-size-vars-by-variant: map-merge($v-button-size-vars-by-variant, (
        default: (
                (vars: $v-button, prefix: ''),
                (vars: $v-button-filled, prefix: 'filled'),
                (vars: $v-button-outlined, prefix: 'outlined'),
                (vars: $v-button-rounded, prefix: 'rounded'),
                (vars: $v-button-icon, prefix: 'icon'),
                (vars: $v-button-label, prefix: 'label'),
        )
));
