@use "sass:map";
@use "sass:math";

$v-button-size-vars-by-variant: () !default;
$v-button-font: (
    common: (
        font-family: $mango,
        font-weight: 500,
        text-transform: uppercase,
        line-height: 1,
    ),
    sm: (
        font-size: rem(12),
    ),
    md: (
        font-size: rem(42),
    ),
);

// root
$v-button: (
    sm: (
        min-height: rem(40),
        min-width: rem(40), // width with icon-only
        max-width: rem(180),
    ),
    md: (
        min-height: rem(40),
        min-width: rem(40), // width with icon-only
        max-width: rem(180),
    ),
);

// icon
$v-button-icon: ();

// label
$v-button-label: (
    common: (
        color: currentcolor,
    ),
    sm: (
        margin-inline: rem(6),
    ),
    md: (
        margin-inline: rem(10),
    ),
);

// styles
$v-button-rounded: (
    sm: (
        border-radius: rem(math.div(40, 2)),
    ),
    md: (
        border-radius: rem(math.div(40, 2)),
    ),
);
$v-button-filled: (
    common: (
        background-color: var(--theme-color-buttons-high-button-high-bg),
        color: var(--theme-color-buttons-high-button-high-content),
    ),
);
$v-button-outlined: (
    common: (
        background-color: initial,
        color: var(--theme-color-buttons-medium-button-medium-content),

        border-width: 1px,
        border-style: solid,
        border-color: var(--theme-color-buttons-medium-button-medium-border),
    ),
);
$v-button-size-vars-by-variant: map-merge($v-button-size-vars-by-variant, (
    default: (
        (vars: $v-button, prefix: ''),
        (vars: $v-button-icon, prefix: 'icon'),
        (vars: $v-button-label, prefix: 'label'),
        (vars: $v-button-filled, prefix: 'filled'),
        (vars: $v-button-outlined, prefix: 'outlined'),
        (vars: $v-button-rounded, prefix: 'rounded'),
    )
));
